.container {
	width: 800px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}

.kiri {
	width: 150px;
	background-color: salmon;
	height: 500px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

.tengah {
	width: 500px;
	background-color: lightskyblue;
	height: 500px;
	float: left;
}

.kanan {
	width: 150px;
	background-color: limegreen;
	height: 500px;
	float: left;
}